ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: #024b61;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Nunito', sans-serif;
}

li a:hover {
    background-color: #0099ff;
}

a {
    font-size: 25px;
    text-decoration: none;
}